.App {
    margin-left: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    margin: 10px 10px 10px 0;
}
span.complete {
    text-decoration: line-through;
    text-transform: capitalize;
}

span.delete-btn {
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 3px;
    float: right;
}
